@media only screen and (min-width: 993px) {
  .grailed {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  html,
  body {
    font-size: 15px;
  }
  body {
    padding-left: 0;
    padding-top: 55px;
    width: 100%;
  }
  #body > .container .dcore-view {
    padding-top: 40px;
    border-bottom: 1px solid #000;
  }
  #body > .container .end-of-post {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 35px;
    padding-bottom: 35px;
  }
  #body .dcore-body {
    padding-left: 20px;
    padding-right: 20px;
  }
  .dcore-thumbnails .item a.link .info {
    transition: opacity ease-in-out 0.5s;
    background-color: rgba(0, 0, 0, 0.3)
  }
  table.dcore-list.responsive-table {
    font-size: 0
  }

  table.dcore-list.responsive-table .packed {
    width: auto
  }

  table.dcore-list.responsive-table tr {
    font-size: 1rem
  }

  table.dcore-list.responsive-table th > span,
  table.dcore-list.responsive-table th > a,
  table.dcore-list.responsive-table td > span,
  table.dcore-list.responsive-table td > a {
    padding: 5px 10px
  }

  table.dcore-list.responsive-table th.dcore-list-check-item label {
    left: auto;
    right: 12px
  }

  #header {
    right: 0;
    bottom: auto;
  }
  #header .relative {
    height: 55px;
    overflow: hidden;
  }
  #header .relative #logo a.logo {
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -11px;
    z-index: 1000;
    line-height: 1;
    white-space: nowrap;
    font-size: 13px;
  }
  #header .relative #logo .layout-contact {
    display: none;
  }
  #nav-trigger {
    display: block;
    outline: none;
    padding: 0;
    width: 36px;
    height: 36px;
    margin-top: -18px;
    position: absolute;
    z-index: 100;
    top: 50%;
    right: 0;
    border: none;
    background: transparent;
    transition: 0.3s opacity;
  }
  #nav-trigger span {
    display: block;
    width: 19px;
    height: 16px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
    right: 0;
  }
  #nav-trigger span:before,
  #nav-trigger span:after {
    content: "";
  }
  #nav-trigger span:before,
  #nav-trigger span:after,
  #nav-trigger span i {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #000;
    transition: 0.3s all;
  }
  #nav-trigger span:before {
    top: 0;
  }
  #nav-trigger span i {
    top: 50%;
    margin-top: -1px;
  }
  #nav-trigger span:after {
    bottom: 0;
  }
  #nav-group {
    position: absolute;
    z-index: 1;
    top: 0;
    left: -20px;
    right: -20px;
    padding-left: 20px;
    padding-right: 20px;
    height: calc(100vh);
    background: #fff;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    transition: 0.6s opacity;
    opacity: 0;
  }
  #nav-group:before {
    content: "";
    display: block;
    position: fixed;
    z-index: 50;
    top: 0;
    right: 0;
    left: 0;
    height: 55px;
    background-color: #fff;
  }
  #nav-group > .outer {
    display: table;
    width: 100%;
    height: 100%;
  }
  #nav-group > .outer > .inner {
    display: table-cell;
    vertical-align: top;
    padding-top: 55px;
    padding-bottom: 30px;
  }
  #nav-group > .outer > .inner:after {
    content: "";
    display: table;
    clear: both;
  }
  #nav-group > .outer > .inner #nav {
    padding-bottom: 60px;
  }
  #nav-group > .outer > .inner #nav > ul {
    padding: 0;
    margin: 0;
  }
  #nav-group > .outer > .inner #nav > ul li {
    margin: 8px 0;
  }
  #nav-group > .outer > .inner #nav > ul > li {
    position: relative;
  }
  #nav-group > .outer > .inner #nav > ul > li > ul {
    display: none;
    padding-bottom: 26px;
  }
  #nav-group > .outer > .inner #nav > ul > li > ul > li {
    position: relative;
  }
  #nav-group > .outer > .inner #nav > ul > li > ul > li:before {
    content: "";
    display: block;
    position: absolute;
    left: -15px;
    width: 6px;
    height: 1px;
    top: 15px;
    background-color: #000;
  }
  #nav-group > .outer > .inner #nav > ul > li ul {
    padding-left: 15px;
  }
  #nav-group > .outer > .inner #nav > ul > li > button {
    display: none;
  }
  #nav-group > .outer > .inner #nav > ul > li.has-children > button {
    display: block;
    position: absolute;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    width: 27px;
    height: 27px;
    top: 0;
    right: 0;
  }
  #nav-group > .outer > .inner #nav > ul > li.has-children > button:after {
    content: "";
    display: block;
    position: absolute;
    top: 11px;
    right: 2px;
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-left-width: 3px;
    border-right-width: 3px;
    border-top-color: #000;
  }
  #nav-group > .outer > .inner #nav > ul > li.opened.has-children > button {
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  #nav-group > .outer > .inner #nav > ul > li.opened.has-children > button:after {
    right: auto;
    left: 2px;
  }
  #nav-group > .outer > .inner #nav > ul > li.active > ul {
    display: block;
  }
  html.nav-opening #header .relative {
    overflow: visible;
  }
  html.nav-opened html,
  html.nav-opened body {
    overflow: hidden;
  }
  html.nav-opened #nav-trigger span i {
    opacity: 0;
  }
  html.nav-opened #nav-trigger span:before {
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 50%;
    margin-top: -2px;
  }
  html.nav-opened #nav-trigger span:after {
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: 50%;
    margin-top: 2px;
  }
  html.nav-opened #nav-group {
    opacity: 1;
  }

  //--------------------------------------------------
  #nav-feedback {
    display: block;
  }

  //#nav-trigger {
  //  display: none;
  //}

  .logo div {
    display: none;
  }

  .grailed {
    display: flow-root;
    position: relative;
    height: calc(100vh - 110px);;
    z-index: 100;
    width: 100%;
    vertical-align: middle;
    top: 0;
  }

  #body {
    width: 100%;

  }
  .fixed {
    position: fixed;
    top: 55px;
  }

  .nav-group {
    position: relative;
    overflow: hidden;
  }

  //.nav-main ul {
  //  display: flex;
  //  white-space: nowrap;
  //  left: -20px;
  //  right: -20px;
  //  padding-left: 20px;
  //  padding-right: 20px;
  //  overflow-x: scroll;
  //  -webkit-overflow-scrolling: touch;
  //  transition: 0.6s opacity;
  //}
  //
  //.main-menu-item {
  //  padding-left: 5px;
  //  display: flex;
  //}
  //.main-menu-item:first-child {
  //  padding-left: 0;
  //}
  //.main-menu-item a {
  //  border: 1px solid rgba(0, 0, 0, 0.3);
  //  padding: 12.5px;
  //  line-height: 1;
  //}
  //.main-menu-item a:hover {
  //  border: 1px solid #000;
  //}
  //.main-menu-item:last-child {
  //  padding-right: 20px;
  //}

  .intro {
  }

  .h-screen{
    height: 100vh;
    visibility: hidden;
    display: block;
  }

  .video-wrapper {
    max-width: 100%;
    overflow: hidden;
    height: calc(100vh - 55px);
    background-color: #fff;
    line-height: 0;

    video {
      z-index: 10;
      -o-object-fit: cover;
      object-fit: cover;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      height: calc(100vh - 55px - 55px);
      width: 100vw;
      position: relative;
      -o-object-position: center;
      object-position: center;
    }
  }


  .ticker {
    position: absolute;
    width: 100%;
    overflow: hidden;

    &-wrapper {
      display: flex;
      flex-wrap: nowrap;
      position: relative;
      box-sizing: border-box;

      &__item{
        line-height: 55px;
        font-weight: bold;
        font-size: 18px;
        text-transform: uppercase;
        white-space: nowrap;
        margin: 0 40px;
      }
    }
  }

  .container .posts {
    z-index: 1;
    width: 100vw;
    top: 0;
    position: fixed;
    display: block;
  }

  #footer {
    display: block;
  }
}